@import "styles/variables.module";
@import "styles/media-queries.module";

.cabinet {
  background: $theme-c-white url("./cover.jpg") no-repeat;
  min-height: 65vh;

  &__container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 60vw;
    margin: auto;

    &--empty {
      padding: 65px 0 55px;
    }
  }

  &__cover-img {
    max-width: 100%;
    min-height: 300px;
    position: absolute;
  }

  &__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 20vh;


    @include for-tablet-landscape-up {
      width: 100vw;
      padding-left: 25px;
      padding-right: 25px;
    }

    @include for-phablet {
      flex-direction: column;
    }

    @include for-phone-only {
      padding-bottom: 10vh;
    }

  }

  &__account-name {
    margin: 0 15px;
  }

  &__link {
    height: fit-content;

    @include for-phablet {
      margin: 10px 0;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__btn {
    padding: 10px 50px;
    width: 344px;
    max-width: 25vw;
    font-size: 18px;
  }

  &__profile-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    // @include for-phablet {
    //   width: 90vw;
    // }
  }

  &__delete-modal {
    text-align: center;
  }

  &__delete__title {
    font-size: 24px;
    font-weight: normal;
    margin: 0 5px;
  }

  &__delete__confirmation {
    font-size: 24px;
    line-height: 150%;
    margin: 0 15px 0 5;
  }

  
  &__delete__btn-container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 25px;
  }

  &__delete__btn {
    padding: 5px;
    width: 150px;
    height: 40px;
    border-radius: 6px;
  }
}
