@import "styles/variables.module";
@import "styles/media-queries.module";
@import "styles/mixins.module";

@import "../style.scss";

.profile-simple {
  --avatar-img-height: 385px;
  &__description {
    padding: 0 90px;

    @include for-phone-only {
      padding: 0 15px;
    }
  }
  --avatar-img-size: 350px;

  &__top-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--avatar-img-height) / 2);

    @include for-phone-only {
      margin-bottom: calc(var(--avatar-img-height) / 2 - 60px);
    }
  }

  &__background-img {
    width: 100%;
  }

  &__avatar-img {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    max-height: var(--avatar-img-size);
    max-width: var(--avatar-img-size);
    border-radius: 100%;
    object-fit: cover;

    aspect-ratio: 1/1;

    @include for-phablet {
      width: 40vw;
    }

    @include for-phone-only {
      top: 0;
    }
  }

  &__date {
    color: $theme-c-black;
    position: absolute;
    bottom: -60px;
    font-size: 24px;

    @include for-phone-only {
      font-size: 15px;
    }

    &--birth {
      transform: translateX(calc((-100vw / 4) - 50%));
    }

    &--death {
      transform: translateX(calc((100vw / 4) + 50%));
    }
  }

  &__name {
    margin: 0 auto 80px;
    width: max-content;

    @include for-phone-only {
      margin: 0 auto 40px;
    }
  }
}

.image-data__container--simple {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    margin: 20px 90px;

    @include for-phone-only {
      margin: 15px;
    }
  &__item {
    width: 176px;
    height: 176px;
    object-fit: contain;
    margin: 15px;
    border-radius: 20px;

    @include no-edge-margins();
  }


    @include styled-scrollbar();
}

.video-data {
  &__container {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 90px;

    @include for-phone-only {
      margin: 0 15px;
    }

    @include styled-scrollbar();
  }
  &__item {
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 488px;
    max-height: 305px;

    @include for-phablet {
      width: 70vw;
    }
  }
}
