#root {
  --header-height: 85px;
}

$theme-c-black: #212121;
$theme-c-white: #f3f3f3;

$shared-bp-tablet-portrait-up: 480px;
$shared-iPad-portrait-up-min-width: 767px;
$shared-bp-tablet-landscape-up: 979px;
$shared-bp-desktop: 1200px;

