@import "styles/variables.module";

.home {
  &__top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--header-height) + 90px);
    padding: calc(var(--header-height) + 70px) 120px 0;
    background: linear-gradient(
        180deg,
        rgba(212, 213, 217, 0) 45.93%,
        #d4d5d9 91.52%
      ),
      url("../../assets/home-background.jpg") no-repeat;
    width: -webkit-fill-available;
    background-size: cover;

    &--second {
      background: linear-gradient(
          180deg,
          #d4d5d9 0%,
          rgba(212, 213, 217, 0) 50.66%,
          #d4d5d9 100%
        ),
        url("../../assets/home-background-second.jpg") no-repeat;
      width: -webkit-fill-available;
      background-size: cover;
      padding-bottom: 200px;
    }
  }

  &__btn {
    width: 380px;
    height: 64px;
  }

  &__otpions {
    padding: 50px 0;
    .title {
      font-weight: bold;
      font-size: 40px;
      margin-left: 110px;
    }
  }

  &__price {
    background: url("../../assets/home-background-price.jpg") no-repeat,
      linear-gradient(
        180deg,
        #d4d5d9 0%,
        rgba(212, 213, 217, 0) 50.66%,
        #d4d5d9 100%
      );
    height: 760px;
    padding-bottom: 200px;
    .quoute-block {
      position: relative;
      background-color: $theme-c-white;
      .quoute__title {
        color: $theme-c-black;
        font-size: 48px;
      }
    }

    .home__btn {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
    }
  }

  .block-group {
    display: flex;
    margin-top: 120px;
    width: 100%;
    justify-content: space-between;
  }
}

.quoute {
  &-block {
    text-align: center;
    margin: 50px 0;
  }

  &__title {
    font-weight: bold;
    font-size: 64px;
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
  }
}

.quoute-block--inverted {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 800px;
  height: 204px;
  margin-bottom: 25px;

  .quoute__title {
    color: $theme-c-white;
    font-size: 40px;
    line-height: 150%;
  }

  .home__btn {
    background-color: $theme-c-black;
  }
}
