@import "styles/variables.module";
@import "styles/media-queries.module";

.home {
  --header-offset: 70px;

  &__top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--header-height) + var(--header-offset)) 120px 0;
    background: url("../../assets/home-background.jpg") no-repeat;
    width: -webkit-fill-available;
    background-size: cover;

    @include for-tablet-landscape-up {
      --header-offset: 30px;
      padding-left: 60px;
      padding-right: 60px;
    }

    @include for-phone-only {
      --header-offset: 0px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__btn {
    margin-bottom: 180px;
    width: 380px;
    height: 64px;

    @include for-tablet-landscape-up {
      margin-bottom: 20px;
      width: auto;
    }
  }

  &__options {
    background-color: $theme-c-white;
    padding: 50px 0;

    @include for-phablet {
      padding: 25px 0;
    }

    .title {
      font-weight: bold;
      font-size: 40px;
      margin-left: 90px;

      @include for-phablet {
        font-size: 32px;
        margin: 10px 0 10px 25px;
      }

      @include for-phone-only {
        font-size: 18px;
        margin: 5px 0 5px 20px;
      }
    }
  }

  &__template {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 90px;

    @include for-phablet {
      flex-direction: column;
    }

    &-block {
      margin-right: 32px;

      @include for-phablet {
        margin-right: 0px;
        margin-bottom: 10px;
        text-align: center;
        
      }
    }

    &-img {
      margin: auto;
      width: 100%;
      max-width: 300px;
    }

  }

  &__price {
    background: url("../../assets/home-background-price.jpg") no-repeat;
    background-size: cover;
    height: 565px;
    padding-bottom: 200px;

    @include for-phablet {
      height: auto;
    }

    @include for-phone-only {
      padding: 45px 30px;
    }

    .quoute-block {
      position: relative;
      background-color: $theme-c-white;
      height: 216px;

      @include for-phone-only {
        height: 120px;
        max-width: 60vw;
      }

      .quoute__title {
        font-size: 48px;

        @include for-phone-only {
          font-size: 24px;
        }
      }
    }

    .home__btn {
      position: absolute;
      top: 170px;
      transform: translateY(50%);
      height: 45px;
      padding: 10px 25px;

      @include for-phone-only {
        top: 110px;
      }
    }
  }

  .block-group {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-between;

    @include for-tablet-landscape-up {
      margin-top: 45px;
    }

    @include for-phablet {
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 100px;
    }

    @include for-phone-only {
      margin-bottom: 20px;
    }
  }
}

.quoute {
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    width: 100%;
    max-width: 800px;
    padding: 25px 0;

    @include for-tablet-landscape-up {
      margin: 25px 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 64px;
    margin: 0;
    line-height: 150%;

    @include for-tablet-landscape-up {
      font-size: 50px;
    }

    @include for-phablet {
      font-size: 36px;
      line-height: 100%;
    }

    @include for-phone-only {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 24px;
    margin-top: 25px;

    @include for-tablet-landscape-up {
      font-size: 20px;
    }

    @include for-phone-only {
      font-size: 16px;
      margin: 15px 0 0;
    }
  }
}

.quoute-block--inverted {
  background-color: $theme-c-black;
  height: 204px;
  margin-bottom: 25px;
  padding: 25px 0;

  @include for-phone-only {
    height: auto;
  }

  .quoute__title {
    color: $theme-c-white;
    font-size: 40px;

    @include for-tablet-landscape-up {
      font-size: 36px;
    }

    @include for-phablet {
      font-size: 26px;
    }

    @include for-phone-only {
      font-size: 18px;
    }
  }

  .home__btn {
    background-color: $theme-c-black;
  }
}
