@import "styles/variables.module";
@import "styles/media-queries.module";
@import "styles/mixins.module";

.image-data__item {
  min-width: 185px;
  padding-right: 15px;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.15));
}


