@import "styles/variables.module";
@import "styles/media-queries.module";
@import "styles/mixins.module";

.image-data__item {
  min-width: 185px;
  padding-right: 15px;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.15));
}

.image-data__item--book {
  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
  min-width: 155px;
  margin: 15px;
  border-radius: 20px;

  @include for-tablet-landscape-up {
    min-width: 130px;
  }

}


.image-data__item--article {

  @include for-phone-only {
    min-width: 155px;
  }

  @include no-edge-margins();
}

