@import "styles/variables.module";
@import "styles/media-queries.module";
@import "styles/mixins.module";

.image-data__item--book {
  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
  width: 155px;
  margin: 15px;
  border-radius: 20px;

  @include for-tablet-landscape-up {
    max-width: 130px !important;
  }

}


.image-data__item--article {
  max-width: 185px !important;
  padding-right: 15px;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.15));

  @include for-phone-only {
    max-width: 155px !important;
  }

  @include no-edge-margins();
}

.image-data__item--simple {
  max-width: 185px !important;
  padding-right: 15px;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.15));
}
