@import "styles/variables.module";
@import "styles/media-queries.module";

.profile {
  &__name {
    font-size: 30px;

    @include for-phone-only {
      font-size: 20px;
    }
  }

  &__description {
    font-family: $theme-f-opensans;
    line-height: 24px;
    white-space: pre-line;
    padding: 0 90px 50px;
    color: $theme-c-black;
    line-height: 150%;

    @include for-phone-only {
      padding: 0 15px;
    }
  }

  .quoute__title {
    font-size: 20px;
    font-style: italic;
  }
}
