.profiles {
  .home__top-block {
    background: url("../../assets/home-background.jpg") no-repeat,
      linear-gradient(to bottom, #d5d6da 50%, #f3f3f3 100%);
  }
  .title {
    font-size: 40px;
    margin: 50px auto;
    width: fit-content;
  }
}
