@import "styles/variables.module";
@import "styles/media-queries.module";

.profiles {
  .home__top-block {
    background: url("../../assets/home-background.jpg") no-repeat,
      linear-gradient(to bottom, #d5d6da 50%, #f3f3f3 100%);
  }
  .title {
    font-size: 40px;
    margin: 50px auto;
    width: fit-content;

    @include for-phone-only {
      font-size: 30px;
    }
  }
}

.profile-edit {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  padding: 30px 120px 30px;

  &__title {
    margin: 30px auto 50px;
  }

  &__btn-back {
    position: absolute;
    top: 80px;
    right: 120px;
    color: $theme-c-black;

    &__icon {
      path {
        fill: $theme-c-black;
      }
    }
  }

  .add-file__container,
  .image-row-list__img {
    border-radius: 6px;
  }

  &__row {
    display: flex;
    grid-column-gap: 25px;
  }

  &__epitaph {
    height: 250px;
    // width: 350px;
  }

  &__date {
    &:first-child {
      margin-bottom: 35px;
    }
  }

  &__media {
    .add-profile__subtitle {
      
    }
  }
}
