@import "styles/variables.module";
@import "styles/media-queries.module";

:root {
  @include for-phablet {
    --header-height: 65px;
  }
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 90px;
  height: var(--header-height);
  z-index: 2;

  @include for-tablet-landscape-up {
    padding: 25px;
  }

  @include for-phablet {
    padding: 10px;
  }

  &__logo {
    height: max-content;
  }

  &__logo-picture {
    display: flex;
    @include for-phone-only {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 980px;
  }

  &__link {
    font-size: 16px;
    color: $theme-c-black;
    text-decoration: none;
    margin: 0 10px;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 3px solid $theme-c-black;
      color: $theme-c-black;
    }

    &--active {
      border-bottom: 3px solid $theme-c-black;
    }

    @include for-phablet {
     margin: 0 5px;
    }

    @include for-phone-only {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__login {
    &-btn {
      display: flex;
      max-height: 30px;
      align-items: center;

      @include for-phablet {
        padding: 10px 20px;
        font-size: 12px;
      }

      @include for-phone-only {
        background-color: transparent;
        padding: 0;
      }
    }

    &-text {
      @include for-phone-only {
        display: none;
      }
    }

    &-icon {
      display: none;

      @include for-phone-only {
        display: inline-block;
      }
    }
  }
}
