@import 'styles/variables.module';

.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 90px;
  height: var(--header-height);
  z-index: 2;

  &__logo {
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__link {
    font-size: 16px;
    color: $theme-c-black;
    text-decoration: none;
    margin: 0 50px;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 3px solid $theme-c-black;
      color: $theme-c-black;
    }

    &--active {
      border-bottom: 3px solid $theme-c-black;
    }
  }

  &__login-btn {
    display: flex;
    align-items: center;
  }
}
