@import "styles/variables.module";
@import "styles/media-queries.module";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $theme-c-white;

  padding: 45px 80px;

  @include for-tablet-landscape-up {
    padding: 25px 55px;
  }

  @include for-phone-only {
    flex-direction: column-reverse;
    padding: 25px 10px;
  }

  &__advert {
    display: flex;
    flex-direction: column;

    @include for-phone-only {
      margin-top: 25px;
      width: 100%;
      align-items: center;
    }

    &-icon {
      width: 120px;
      margin-bottom: 30px;

      @include for-phablet {
        margin-bottom: 15px;
      }

      @include for-phone-only {
        margin-bottom: 0;
      }
    }
  }

  &__contact {
    @include for-phone-only {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }

  &__text {
    font-family: $theme-f-opensans;
    line-height: 150%;

    @include for-phablet {
      margin: 10px;
    }

    @include for-phone-only {
      display: none;
    }
  }

  &__copyright {
    font-family: $theme-f-opensans;
    font-size: 14px;
    line-height: 150%;

    @include for-phone-only {
      flex-direction: column;
      margin-top: 0;
    }

    &-line-break {
      @include for-phone-only {
        display: none;
      }
    }
  }
}
