@import "styles/variables.module";
@import "styles/media-queries.module";

.profile-item {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 50px;
  width: -webkit-fill-available;



  &__img {
    width: 280px;
    height: auto;
    max-width: 25vw;
    min-width: 200px;
    max-height: 300px;
    object-fit: contain;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 55px 0 20px;
    width: min-content;

    @include for-tablet-landscape-up {
      margin: 0 30px 0 10px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0;
    font-family: $theme-f-playfair;
  }

  &__description {
    max-width: 300px;

    font-family: $theme-f-opensans;
    line-height: 150%;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  &__type {
    font-size: 18px;
    text-decoration-line: underline;
  }

  &__btn {
    padding: 10px 50px;
    width: 280px;
    max-width: 30vw;
  }
}

.qr-code {
  width: 205px;
  height: auto;
  max-width: 20vw;
  min-width: 160px;
  object-fit: contain;
  margin: auto;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__label {
    font-family: $theme-f-opensans;
    font-weight: bold;
    font-size: 18px;
    margin-top: auto;
  }
}
