@import "styles/variables.module";
@import "styles/media-queries.module";

.profile-item {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 50px;
  width: -webkit-fill-available;

  @include for-phablet {
    align-items: center;
    margin: 0 10px 50px;
  }

  @include for-phone-only {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "img info"
      "qrCode  info";
    max-width: 90vw;
  }

  &__img {
    grid-area: img;
    width: 280px;
    height: auto;
    max-width: 25vw;
    max-height: 300px;
    object-fit: cover;
    cursor: pointer;

    min-width: 150px;
    min-height: 150px;

    @include for-phablet {
      // display: none;
    }
  }

  &__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 55px 0 20px;
    width: min-content;

    @include for-phablet {
      margin: 0 15px 0 10px;
    }

    @include for-phone-only {
      margin: 0 15px 0 10px;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0;
    font-family: $theme-f-playfair;

    @include for-phablet {
      font-size: 20px;
      margin: 10px 0;
    }
  }

  &__description {
    max-width: 300px;

    font-family: $theme-f-opensans;
    line-height: 150%;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @include for-phablet {
      margin: 10px 0;
    }
  }

  &__type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  &__type {
    font-size: 18px;
    text-decoration-line: underline;
  }

  &__btn {
    padding: 10px 50px;
    width: 280px;
    max-width: 30vw;

    @include for-phablet {
      padding: 10px 30px;
    }
  }
}

.qr-code {
  cursor: pointer;
  margin: auto;

  @include for-phone-only {
    display: none;
  }

  &__container {
    display: flex;
    align-items: center;
    grid-area: qrCode;
  }

  &__button {
    border: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    background: transparent;

    @include for-phone-only {
      background-color: $theme-c-black;
      color: $theme-c-white;
      font-size: 100%;
      padding: 10px 50px;
      width: 280px;
      max-width: 30vw;
      white-space: nowrap;
      font-weight: bold;
      min-width: fit-content;
    }
  }

  &__label {
    font-family: $theme-f-opensans;
    font-weight: bold;
    font-size: 18px;
    margin-top: auto;
  }
}

.qr-code-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 40px 60px 20px;

  &__qr-code {
  }

  &__title {
    margin: 20px 0 50px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;

    border: none;
    background: transparent;
    cursor: pointer;

    &-icon {
      width: 30px;
      height: 30px;
    }
  }

  &__actions {
    display: flex;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 15px;
    padding-top: 15px;
    border: none;
    background: transparent;
    cursor: pointer;

    &-text {
      font-family: $theme-f-opensans;
      font-size: 20px;
      line-height: 150%;
    }
  }
}
