@import "styles/variables.module";
@import "styles/media-queries.module";

.icon-block {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px 16px;
  width: -webkit-fill-available;
  max-height: 384px;
  max-width: 384px;
  background-color: $theme-c-white;
  text-align: center;

  &:first-child {
      margin-left: 0;
  }
  &:last-child {
      margin-right: 0;
  }

  @include for-phablet {
    margin: 10px 0;
    max-width: 300px;
    padding: 10px;
  }

  @include for-phone-only {
    flex-direction: row;
  }

  .icon {
    height: auto;
    margin: 15px 0;

    @include for-phablet {
      max-width: 85px;
      margin: 5px 0;
    }

    @include for-phone-only {
      min-width: 25%;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
    margin: 0 20px;

    @include for-tablet-landscape-up {
      font-size: 16px;
    }

    @include for-phone-only {
      margin: 0;
    }
  }

  &__text {
    font-size: 20px;

    @include for-tablet-landscape-up {
      font-size: 16px;
    }

    @include for-phone-only {
      padding-left: 5px;
      margin: 5px 0 0;
    }
  }

  &--wide {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 20px 0 0;

    @include for-phone-only {
      max-width: 300px;
      margin-top: 10px;
    }
  }
}
