@import "styles/variables.module";
@import "styles/media-queries.module";
@import "styles/mixins.module";

.select-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    cursor: pointer;
    width: 25vw;
    min-width: 300px;
    max-width: 312px;
    transition: transform 0.2s ease;
    margin: 10px 20px 0;

    @include no-edge-margins();

    &--active {
      transform: scale(1.1);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.add-profile__main-info {
  width: 100%;
}

.add-profile__additional-info {
  display: grid;
  grid-template-areas:
    "date-birth epitaph"
    "date-death ."
    "type  .";

  width: 100%;
  justify-items: center;

  @include for-phablet {
    grid-template-areas:
      "date-birth"
      "date-death"
      "epitaph"
      "type";
  }
}

.add-profile__description {
  width: 100%;
  height: 385px;
  margin: 30px 0;

  .form-field__label {
    margin-bottom: 20px;
  }

  @include for-phone-only {
    height: 250px;
  }
}

.add-profile__date {
  min-width: 200px;
  margin-bottom: 50px;

  @include for-phablet {
    margin-bottom: 30px;
  }

  &:first-child {
    grid-area: date-birth;
  }

  &:last-child {
    grid-area: date-death;
  }
}

.add-profile__epitaph {
  grid-area: epitaph;
  max-width: 320px;
}

.form-radio-group {
  display: flex;

  @include for-phone-only {
    flex-direction: column;
  }

  .form-field {
    margin: 20px;
  }
}

.profile-type__container {
  grid-area: type;
  width: 350px;
  max-width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include for-phablet {
    .form-field__label {
      margin-top: 30px;
    }
  }
}

.add-profile__images-container {
  display: grid;
  grid-template-areas:
    "main cover cover"
    "main  others others";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;

  grid-row-gap: 20px;
  grid-column-gap: 30px;

  width: 100%;
  max-width: 1320px;

  padding: 0 60px 60px;
  margin: auto;

  @include for-tablet-landscape-up {
    padding: 0 30px 30px;
  }

  @include for-phablet {
    grid-template-areas:
      "main"
      "cover"
      "others";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.add-file {
  &-block {
    max-width: 100%;
    max-height: 100%;
  }

  &-main {
    grid-area: main;
    aspect-ratio: 1/1;
    width: 100%;
    max-height: 384px;

    @include for-tablet-landscape-up {
      max-height: 250px;
    }

    @include for-phablet {
      margin: auto;
    }

    @include for-phone-only {
      max-height: 175px;
    }

    @include for-tablet-landscape-up {
    }
  }

  &-cover {
    display: flex;
    flex-direction: column;
    grid-area: cover;
    height: 205px;

    @include for-phablet {
      flex-direction: column-reverse;
    }

    .add-file__label {
      margin: 0 0 16px;

      @include for-phablet {
        margin-top: 16px;
      }
    }
  }

  &-others {
    max-height: 200px;
    max-width: 200px;
    margin: 0 25px;

    aspect-ratio: 1/1;
    width: 100%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @include for-phone-only {
      max-width: 120px;
      margin: 5px 0;
    }

    .add-file__file {
      max-height: 200px;
      max-width: 200px;
    }
  }

  &-others-container {
    display: flex;
    justify-content: flex-start;

    @include for-phone-only {
      flex-wrap: wrap;
    }
  }

  &-others-block {
    grid-area: others;
  }
}

.add-profile__media-container {
  padding: 0 20px;
  margin-bottom: 45px;

  .add-file__label {
    margin: 5px 0 24px;
  }

  .add-file__container {
    max-width: 350px;
    width: 100%;
    margin-right: 25px;
  }

  .add-file-video,
  .add-file-audio {
    display: flex;
  }

  .add-file-video {
    .add-file__container {
      aspect-ratio: 1/1;
      max-height: 317px;
    }

    .add-file__item {
      max-height: 100%;
      // max-width: 250px;
    }
  }
}

.add-file__label {
  display: inline-block;
  font-family: $theme-f-opensans;
  font-weight: bold;
  margin-top: 24px;

  @include for-phone-only {
    margin-top: 15px;
  }
}

.label--necessary {
  color: #ff4c4c;
}

.profile-created {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;

  &__title {
    font-size: 64px;
    font-family: $theme-f-opensans;
    margin-top: 0;
    margin-bottom: 64px;

    @include for-phablet {
      font-size: 48px;
    }
  }

  &__btn {
    margin: 15px 0;
    width: 426px;
    max-width: 30vw;
    min-width: 265px;
    padding: 20px 0;
    font-family: $theme-f-opensans;
  }
}
