.select-profile {
  display: flex;
  justify-content: space-evenly;

  &__item {
    cursor: pointer;
    width: 312px;
    transition: transform 0.2s ease;

    &--active {
      transform: scale(1.1);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
